.Cockpit button {
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
  color: white;
  cursor: pointer;
}
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}
.Cockpit button.Red {
  background-color: red;
}
.Cockpit button.Blue {
  background-color: blue;
}

.Cockpit button.Red:hover {
  background-color: salmon;
  color:black;
}
.Cockpit button.Bold {
    font-weight: bold;
}

.Cockpit .testClass{
  background-color: red;
  color: white;
}

.testClass2{
  background-color: blue;
  color: white;
}