.CodeSamples {
  /* color: white; */
  /* text-align: center; */
  /* background-color: grey; */
  /* border: 5px solid black; */
  /* padding: 0; */
  /* margin: 0; */
}

.CodeSamples .ControlPanel {
  background-color: darkgray;
  text-align: center;
  padding-bottom: 5px;
}

.CodeSamples .Components {
  background-color: grey;
}

.CodeSamples .Component {
  border: 0px solid black;
}

.CodeSamplesH3 {
  background-color: darkslategrey;
  vertical-align: middle;
  text-align: center;
  color: grey;
  margin: 0;
  padding: 5px;
}